body {
    width: 200px;
    font-family: Arial, sans-serif;
    padding: 0;
    text-align: center;
    color: #2B2B2B;
}

#header, #banner {width: 100%;}
#title {
    position: fixed;
    top: 29px;
    padding-left: 55px;
    font-style: italic;
}

#settings_button {
    cursor: pointer;
    float: right;
    width: 24px;
    height: 24px;
    margin: 5px;
}